<div class= "container">
  <div class= "row">
    <div class= "col-md-10 offset-1 mt-3">
      <h2>投稿編集</h2>
      <%= render 'info', post: @post, path: post_path(@post.id) %> 
    </div>
  </div>
</div>