<div class= "container">
  <div class= "row">
    <div class= "col-xs-12 col-md-12">
      <h2 class="font-weight-bold">&nbsp;<%= params[:word] %>の検索一覧&nbsp;(全<%= @public_posts.count %>件)</h2>
      <%= render "post_item", posts: @public_posts %>
    </div>
  </div>
</div>