<div class= "container">
  <div class= "row">
    <div class= "col-xs-12 col-md-8">
      </br><h2>このサイトについて</h2>
      <p><b>UnitedJourneys</b>では,</p>
      <p>これから海外渡航を考えている人たちや</p>
      <p>これまでに海外へ渡航したことのある人たちが集まる</p>
      <p>コミュニティサイトです!</p>
      <h3>サイトで、できること</h3>
    </div>
  </div>
  <div class= "row">
    <div class= "col-xs-12 col-md-4 my-3">
      <div class="card text-white bg-secondary">
        <div class="card-body">
          <h4 class="card-title">投稿機能</h4>
          <p class="card-text">写真をつけて投稿しよう</p>
        </div>
      </div>
    </div>
    <div class= "col-xs-12 col-md-4 my-3">
      <div class="card text-white bg-info">
        <div class="card-body">
          <h4 class="card-title">フォロー機能</h4>
          <p class="card-text">気になった投稿者をフォローしよう</p>
        </div>
      </div>
    </div>
    <div class= "col-xs-12 col-md-4 my-3">
      <div class="card text-white bg-success">
        <div class="card-body">
          <h4 class="card-title">チャット機能</h4>
          <p class="card-text">相互フォローだったらチャットできるよ</p>
        </div>
      </div>
    </div>
    <div class= "col-xs-12 col-md-4 my-3">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <h4 class="card-title">グループ機能</h4>
          <p class="card-text">グループを作れるよ</p>
        </div>
      </div>
    </div>
    <div class= "col-xs-12 col-md-4 my-3">
      <div class="card text-white bg-danger">
        <div class="card-body">
          <h4 class="card-title">いいね機能</h4>
          <p class="card-text">気になった投稿にいいねできるよ</p>
        </div>
      </div>
    </div>
    <div class= "col-xs-12 col-md-4 my-3">
      <div class="card  bg-warning">
        <div class="card-body">
          <h4 class="card-title">検索機能</h4>
          <p class="card-text">検索窓でタイトル名検索できるよ</p>
        </div>
      </div>
    </div>
  </div>
  <h4>他にも...</h4>
  <p>投稿物を下書きで保存したり、非公開にもできるよ</p>
  <p>投稿を見つけて、より詳しく見たいときはその投稿の行を</p>
  <p><b>ダブルクリック</b>すると詳しく見れるよ</p>
</div>