<div style="position: relative">
  <ul class="slider" style="padding:0; opacity:0.5">
    <li class="slider-item slider-item01"></li>
    <li class="slider-item slider-item02"></li>
    <li class="slider-item slider-item03"></li>
    <li class="slider-item slider-item04"></li>
  </ul>
  <div class= "container" style="position: absolute; top:20%; left:30%;">
    <div class= "title">
      <h2>ようこそ!! <b>UnitedJourneysへ</b></h2>
    </div>
    <!--<p><b>UnitedJourneys</b>では,</p>-->
    <!--<p>これから海外渡航を考えている人たちや</p>-->
    <!--<p>これまでに海外へ渡航したことのある人たちが集まる</p>-->
    <!--<p>コミュニティサイトです!</p>-->
  </div>
</div>
<style>
  .title{
   position: absolute;
   z-index: 2;
   top: 10%;
   left: 20%;
   transform: translate(-50%, -50%);
   text-align: center;
   font-size:6vw;
   letter-spacing: 0.1em;
   text-transform: uppercase;
  }
</style>