<div style="position: relative">
  <ul class="slider" style="padding:0; opacity:0.5">
    <li class="slider-item slider-item01"></li>
    <li class="slider-item slider-item02"></li>
    <li class="slider-item slider-item03"></li>
    <li class="slider-item slider-item04"></li>
  </ul>
  <div class= "container" style="position: absolute; top:20%; left:30%; z-index:100">
    <div class= "col-md-12">
      <h1>ようこそ!! <b>UnitedJourneysへ</b></h1></br>
      <p><b>UnitedJourneys</b>では,</p>
      <p>これから海外渡航を考えている人たちや</p>
      <p>これまでに海外へ渡航したことのある人たちが集まる</p>
      <p>コミュニティサイトです!</p>
    </div>
  </div>
</div>