<div class= "container">
  <h2>会員情報<i class="fa-solid fa-address-book ml-2"></i></h2>
  <div class= "row">
    <div class= "d-flex align-items-start" style="height: 200px;">
      <%= image_tag @member.get_profile_image %>
      <div class= "d-flex align-items-start flex-column">
        <div class= "mb-auto p-2">
          <%= link_to  edit_member_path(@member.id), class: 'btn btn-outline-secondary btn-block' do%>
            <i class="fa-solid fa-user-cog"></i>
          <% end %>
        </div>
        <div class= "mb-auto p-2 mt-2">
          居住地: <%= @member.residence %>
        </div>
        <div class= "mb-auto p-2 mt-2">
          <%= link_to new_post_path(@member.id) do %>
            <i class="fa-solid fa-circle-plus" style="color: #2460c2;"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-8">
    </div>
  </div>
</div>
