<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @tagged_posts.present? %>
        <h4 class="headline mt-5 ml-5">Tag: <%= @tag.name %>の一覧（<%= @total_posts_count %>件）</h4>
        <div class="row mt-3">
          <% @tagged_posts = @tagged_posts.order(impressions_count: :desc) %>
          <%= render 'public/posts/post_item', {posts: @posts, post: @tagged_posts } %>
        </div>
  　　  <% else %>
        <h1 class="tags-title">Tag not found</h1>
      <% end %>
      <!--<div class="pagination justify-content-center">-->
      <!-- %= paginate @tagged_posts, theme: 'bootstrap-5' %>-->
      <!--</div>-->
    </div>
  </div>
</div>