<footer class= "text-center text-white mt-auto py-1" style= "background-color: #00bfff">
    <p>
      <i class="fa-brands fa-cloudflare" style="color: #ffffff;"></i>
        CopyRight UnitedJourneys.inc
      <i class="fa-brands fa-cloudflare" style="color: #ffffff;"></i>
    </p>
</footer>